.sp-replacer {
	    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    padding: 6px !important;
        color: #29323d;
    background-image: -webkit-linear-gradient(white, #fafafa);
    background-image: -moz-linear-gradient(white, #fafafa);
    background-image: -ms-linear-gradient(white, #fafafa);
    background-image: -o-linear-gradient(white, #fafafa);
    background-image: linear-gradient(white, #fafafa);
    border:none;
        border-radius: 3px;
}

.sp-container, .sp-container button, .sp-container input, .sp-color, .sp-hue, .sp-clear {
    font-family: normal 13px HelveticaNeue, sans-serif; */;
}
.sp-container {
        
    background: #fff;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 8px -2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 8px -2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 8px -2px rgba(0, 0, 0, 0.1);
    position: relative;
    margin: 14px 0;
    word-wrap: break-word;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    border:none;
}
.sp-palette-container {
        background-image: -webkit-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: -moz-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: -ms-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: -o-linear-gradient(#f7f7f8, #f4f5f6);
    background-image: linear-gradient(#f7f7f8, #f4f5f6);
    border-color:#eef0f1;
}

.sp-container button {
    margin-top: 10px;
        color: #fff;
    background-color: #da5a47;
    background-image: none;
    border:none;
    font-weight: normal;
    font-size: 13px;
    vertical-align: middle;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-shadow:none;
    padding:10px;
}
.sp-container button:hover {
    text-shadow:none;
    background-image: none;
    border:none;
    padding:10px;
    background-color: #bf503f;
}
.sp-cancel {
    color:#0d78f2!important;
        margin-top: 9px;
    display: inline-block;
}
.sp-cancel:hover {
    color:#0d78f2!important;
}

.sp-color, .sp-hue, .sp-clear {
    border:none;
    -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.sp-dd {
    font-family: 'Craft';
    speak: none;
    -webkit-font-feature-settings: "liga", "dlig";
    -moz-font-feature-settings: "liga=1, dlig=1";
    -moz-font-feature-settings: "liga", "dlig";
    -ms-font-feature-settings: "liga", "dlig";
    -o-font-feature-settings: "liga", "dlig";
    font-feature-settings: "liga", "dlig";
    text-rendering: optimizeLegibility;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    width: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: inline-block;
    text-align: center;
    font-style: normal;
    vertical-align: middle;
    word-wrap: normal !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    padding-top: 5px;
    font-size: 13px;
}
.sp-input {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 2px rgba(51, 170, 255, 0), inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(51, 170, 255, 0);
    -moz-box-shadow: 0 0 2px rgba(51, 170, 255, 0), inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(51, 170, 255, 0);
    box-shadow: 0 0 2px rgba(51, 170, 255, 0), inset 0 0 0 1px rgba(0, 0, 0, 0.1), inset 0 2px 4px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(51, 170, 255, 0);
    -webkit-transition: -webkit-box-shadow linear 100ms;
    -moz-transition: box-shadow linear 100ms;
        font-size: 13px;
    line-height: 16px;
    color: #29323d;
    min-height: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    font-family: Menlo, monospace;
    font-size: 0.9em !important;
}

.sp-palette .sp-thumb-el {
    width:20px;
    height:20px;
    border-color: #eef0f1;
}

.sp-palette .sp-thumb-el:hover, .sp-palette .sp-thumb-el.sp-thumb-active {
    border-color: #0d78f2;
}